.plate-grid {
  width: 50%;
  padding: 2px;

  overflow-x: hidden;

  display: grid;
  row-gap: var(--bg-grid-gap);
  column-gap: var(--bg-grid-gap);

  grid-template-rows: var(--bg-grid-box-size);
  grid-template-columns: repeat(4, var(--bg-grid-box-size));
  grid-auto-rows: var(--bg-grid-box-size);
}
