.plate-grid {
  width: 50%;
  padding: 2px;

  overflow-x: hidden;

  display: grid;
  row-gap: var(--bg-grid-gap);
  column-gap: var(--bg-grid-gap);

  grid-template-rows: var(--bg-grid-box-size);
  grid-template-columns: repeat(4, var(--bg-grid-box-size));
  grid-auto-rows: var(--bg-grid-box-size);
}

.plate-grid .plate-grid--item {
  transition:  border-radius 0.5s ease;
  border-radius: 0px;
}

.plate-grid .plate-grid---item:hover {
  border-radius: 40px;
}